@tailwind base;
@tailwind components;
@tailwind utilities;
/* The container that has scrollbar */
:root {
  overflow-y: scroll; /* It's important to set this */
}

/* This is for Chrome and Opera */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 20px; /* This will give a rounded look */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #222; /* Darker color for scrollbar hover */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #222;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #444 #000000;
}

:root::-webkit-scrollbar {
  width: 5px; /* Adjust width for thinner scrollbar */
}

:root::-webkit-scrollbar-track {
  background: #000000;
}

:root::-webkit-scrollbar-thumb {
  background: #444; /* Darker color for scrollbar */
  border-radius: 20px; /* This will give a rounded look */
}

:root::-webkit-scrollbar-thumb:hover {
  background: #222; /* Darker color for scrollbar hover */
}

/* This is for Internet Explorer and Edge */
:root {
  scrollbar-width: thin;
  scrollbar-color: #444 #000000; /* Darker color for scrollbar */
}

:root {
    --black-gradient: linear-gradient(
      144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%
    );
    --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  }
  
  * {
    scroll-behavior: smooth;
  }
  
  .text-gradient {
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .bg-blue-gradient {
    background: linear-gradient(
      157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%
    );
  }
  
  .bg-black-gradient {
    background: linear-gradient(
      144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%
    );
  }
  
  .bg-black-gradient-2 {
    background: linear-gradient(
      -168.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%
    );
  }
  @layer components {
    .arrow-icon {
      @apply w-4 h-4;
    }
    @screen sm {
      .arrow-icon {
        @apply w-6 h-6;
      }
    }
    @screen md {
      .arrow-icon {
        @apply w-8 h-8;
      }
    }
  }
  
  .bg-gray-gradient {
    background: linear-gradient(
      153.47deg,
      rgba(255, 255, 255, 0) -341.94%,
      #14101d 95.11%
    );
  }
  .panel-transition {
    transition: all 0.3s ease-in-out;
    transform-origin: top right;
  }
  .bg-discount-gradient {
    background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
  }
  
  .box-shadow {
    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  }
  
  .sidebar {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  
  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .feature-card:hover {
    background: var(--black-gradient);
    box-shadow: var(--card-shadow);
  }
  
  .feedback-container .feedback-card:last-child {
    margin-right: 0px;
  }
  
  .feedback-card {
    background: transparent;
  }
  
  .feedback-card:hover {
    background: var(--black-gradient);
  }
  
  .blue__gradient {
    background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
    filter: blur(123px);
  }
  
  .pink__gradient {
    background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
    filter: blur(900px);
  }
  
  .white__gradient {
    background: rgba(255, 255, 255, 0.6);
    filter: blur(750px);
  }